@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-dark: #09631E;
  --accent-light: #88B492;
  --white: #ffffff;
  --grey-dark: #6b6b6b;
  --grey-pale: #e6e6e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-dark: var(--accent-dark);
  --color-accent-light: var(--accent-light);
  --color-white: var(--white);
  --color-grey-dark: var(--grey-dark);
  --color-grey-pale: var(--grey-pale);
  --font-sans: "Helvetica";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica;
  font-size: small;
}

h1 {
  font-weight: bold;
  font-size: medium;
  color: var(--accent-dark)
}

/* embla carousel styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 auto;
  width: 50%;
  transition: opacity 0.5s ease-in-out;
}

.embla__slide:not(.is-snapped) {
  opacity: 0.5;
}